.mainContainer {
    border: 10px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;

    img {
        border: 6px solid green;
        width: 45%;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}